<ion-header>
    <ion-navbar color="primary">
        <ion-item color="primary">
            <div item-start>盈垦</div>
            <ion-searchbar (keyup)="goToProductList($event)" placeholder="输入要搜索的关键字"></ion-searchbar>
            <i class="iconfont icon-71 user" item-end (click)="login()" *ngIf="!isLogin"></i>
            <img src="{{avatar}}" alt="" *ngIf="isLogin" item-end (click)="goToProfile()" class="avatar">
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-down"
            pullingText="下拉刷新页面"
            refreshingSpinner="circles"
            refreshingText="数据加载中..."
        ></ion-refresher-content>
    </ion-refresher>
    <ion-slides style="height: 150px;" autoplay="3000" pager loop="true" zoom="true">
        <ion-slide *ngFor="let slide of slides">
            <img src="{{slide}}" alt="">
        </ion-slide>
    </ion-slides>
    <div>
        <ion-item class="title" no-border>
            <div item-start style="margin: 8px 16px;">热销产品</div>
            <button ion-button clear small color="danger" item-end (click)="goToProductList()" class="more">更多>></button>
        </ion-item>
    </div>
    <div class="products">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let product of products;" col-6>
                    <ion-card (tap)="goToDetail(product)">
                        <img alt="" width="100%" src="{{product.banner.path}}" height="147"/>
                        <ion-card-content>
                            <p class="name">{{product.name}}</p>
                        </ion-card-content>
                        <ion-row>
                            <ion-col>
                                <p><i>￥{{product.price}}</i>/<span class="f12">{{product.unit}}</span></p>
                                <del style="color: #999">￥{{product.origin_price}}/<span class="f12">{{product.origin_price_unit}}</span></del>
                            </ion-col>
                            <ion-col class="f12 right">
                                <!--己有0人购买-->
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载更多中..."
        ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
